RewriteEngine On

RewriteRule ^index/?$ index.php [NC]
RewriteRule ^user/settings/?$ user/settings.php [NC]
RewriteRule ^login/?$ login.php [NC]
RewriteRule ^register/?$ register.php [NC]
RewriteRule ^error=([^/.]+)?$ error.php?err=$1 [NC]
RewriteRule ^logout/?$ includes/logout.php [NC]
RewriteRule ^page/new?$ page/new.php [NC]
RewriteRule ^page/view/([^/.]+)?$ page/view.php?id=$1
RewriteRule ^page/edit/([^/.]+)?$ page/edit.php?id=$1 [NC]
RewriteRule ^page/delete/([^/.]+)?$ page/delete.php?id=$1 [NC]
RewriteRule ^meta/help/?$ meta/help.php [NC]
RewriteRule ^meta/?$ meta/ [NC]
RewriteRule ^meta/newpost/?$ meta/newpost.php [NC]

ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html

Options -Indexes
