RewriteEngine On

RewriteRule ^home/?$ homepage.php [NC]

ErrorDocument 400 errors/400.html # Bad Request
ErrorDocument 401 errors/401.html # Auth Required
ErrorDocument 403 errors/403.html # Forbidden
ErrorDocument 404 errors/404.html # Not Found
ErrorDocument 500 errors/500.html # Internal Server Error